.container {
  margin: 1rem auto;
}

.title {
  size: 2rem;
  color: #fff;
}

.list {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  overflow-y: scroll;
  margin: 20px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  justify-content: space-between;
}
