@import url('https://fonts.googleapis.com/css?family=Audiowide');

.logo {
  font-size: 2rem;
  transition: all 0.125s ease;
  font-family: 'Audiowide', cursive;
  color: #b81d24;
}

.logo:hover {
  color: #fff;
  margin-top: 2px;
}
